flows.json
[
    {
        "id": "7568dbd5c04d0161",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "174c35910fc9e6f6",
        "type": "mqtt in",
        "z": "7568dbd5c04d0161",
        "name": "",
        "topic": "fiap/mindspace/estresse",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b0998c96f3cead64",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "932caa605603e22e"
            ]
        ]
    },
    {
        "id": "99fa3bd23408a1e5",
        "type": "debug",
        "z": "7568dbd5c04d0161",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "c5fd870b10a05380",
        "type": "switch",
        "z": "7568dbd5c04d0161",
        "name": "",
        "property": "payload.stress",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "80",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 280,
        "wires": [
            [
                "99fa3bd23408a1e5"
            ],
            [
                "95ad0f8c5840f7ef"
            ]
        ]
    },
    {
        "id": "95ad0f8c5840f7ef",
        "type": "http request",
        "z": "7568dbd5c04d0161",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://20.48.225.29:8080/registros",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1040,
        "y": 300,
        "wires": [
            [
                "703430e7b0af815b"
            ]
        ]
    },
    {
        "id": "932caa605603e22e",
        "type": "function",
        "z": "7568dbd5c04d0161",
        "name": "function 1",
        "func": "// Nó function 1: Acessa o Objeto que o MQTT já gerou (sem JSON.parse)\n\n// 1. Mapear o campo para o formato que a API Java espera\n// O objeto original está em msg.payload\nlet payload = msg.payload; \n\nmsg.payload = {\n    // Pegamos o valor de 'nivel_estresse' do objeto e criamos o campo 'stress'\n    stress: Number(payload.nivel_estresse), \n    // Outros campos do DTO Mobile, se for o caso:\n    // mood: payload.mood, \n    // notes: payload.notes\n}; \n\n// Remove o ID de usuário original para garantir a limpeza do payload\ndelete payload.id_usuario;\n\n// Retornar a mensagem modificada para o próximo nó (o Switch)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "c5fd870b10a05380"
            ]
        ]
    },
    {
        "id": "703430e7b0af815b",
        "type": "debug",
        "z": "7568dbd5c04d0161",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 240,
        "wires": []
    },
    {
        "id": "b0998c96f3cead64",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]